@{
    ViewBag.Title = "Index";
}

<h1><br />Exemplos</h1>
<h2>API's</h2>

<h3>/api/os/{{id ordem serviço}}</h3>
<a href="~/api/os/2">Link de exemplo</a>

<h3>/api/cliente/{{id cliente}}</h3>
<a href="~/api/cliente/2">Link de exemplo</a>


<h2>UI (Interface de usuário)</h2>

<h3>/ui/os/{{id ordem serviço}}</h3>
<a href="~/ui/os/2">Link de exemplo</a>

<h3>/ui/cliente/{{id cliente}}</h3>
<a href="~/ui/cliente/2">Link de exemplo</a>


<style type="text/css">
    h2 {
        background-color: darkgray;
    }
</style>